
.lsf-logo { position: relative; left: -50%; }

#mission { position: fixed; width: 100%; }

.logo-n-scroll {
	position: absolute; left: 50%; bottom: 23%; z-index: 20;
}

#scroll-button {
	bottom: 25%;
	opacity: 0.0;
}

#body-wrap {

	position: absolute;
	top: 600px;
	width: 100%;
	overflow: hidden;
	z-index: 100;
	background: #fff;
}